<div class="page-header">
    <div class="page-banner" style="padding: 24px 0;">
	<h1 style="display:inline">
		<a class="brand" href="<%= config.root %>"><%= config.title %></a>
	</h1>
	<span class="page-search"><i class="fa fa-search"></i><input type="search" id="local-search-input" placeholder="Search..." autocomplete="off" spellcheck="false"></span>
  </div>
</div>
<div id="local-search-result"></div>
<%- partial('_partial/index', {index: true}) %>